body {
    background-color: #eee;
}

.conteiner {
    width: 1000px;
    margin: 0 auto;
    color: #777;
    font-family: Arial, serif;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

header {
    margin-top: 30px;
    display: flex;
}

.logo {
    width: 67px;
    height: 25px;
    background-image: url("product-common-sprite.png");
    background-position: 0 0;
    margin: auto;
}

.title {
    display: block;
    margin: 0 auto auto 0;
    width: 75%;
}

h1 {
    color: #297fb8;
}

aside {
    width: 18%;
}

.menu {
    border-color: #7f8082;

}


ul {
    margin-left: 0;
    padding-left: 0;
}

ul li {
    list-style-type: none;
    display: block;
}

.blue {
    padding: 7px;
    background-color: #297fb8;
    color: #fff;
}

.white {
    padding: 7px;
    background-color: #fff;
    color: #7f8082;
}

a {
    background-color: #fff;
    color: #7f8082;
    text-decoration: none;
}


article {
    margin-top: 14px;
    background-color: #fff;
    border-radius: 15px;
    width: 75%;
    padding: 10px;
}

p {
    color: #297fb8;
}

fieldset {
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    color: #000;
}

span {
    display: flex;
    margin-bottom: 7px;

}

span label {
    margin-right: 10px;
    margin-left: 10px;
}

label {
    margin-bottom: 5px;
}

.color_h {
    color: #7f8082;
}

input[type="submit"] {
    border: 0;
    background-color: #297fb8;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    clear: both;
    margin: 5px;
}

input[type="reset"] {
    border: 0;
    background-color: #297fb8;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    clear: both;
    margin: 5px;
}